<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
</head>

<th:block th:fragment="body_main">
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Offcanvas Menu Begin -->
    <div class="offcanvas-menu-overlay"></div>
    <div class="offcanvas-menu-wrapper">
        <div class="offcanvas__search">
            <i class="fa fa-search search-switch"></i>
        </div>
        <div class="offcanvas__logo">
            <a href="#" th:href="@{/}">D’Hellas</a>
        </div>
        <nav class="offcanvas__menu mobile-menu">
            <ul>
                <li><a href="#" th:href="@{/}">Home</a></li>
                <li class="active"><a href="#">Pages</a>
                    <ul class="dropdown">
                        <li><a href="#" th:href="@{/client/about}">About</a></li>
                        <li><a href="#" th:href="@{/admin/login}">Admin Login</a></li>
                        <li><a href="#" th:href="@{/client/login}">Client Login</a></li>
                        <li><a href="#" th:href="@{/client/project}">Projects</a></li>
                        <li><a href="#" th:href="@{/client/product}">Products</a></li>
                        <li><a href="#" th:href="@{/client/feedback}">Submit Feedback</a></li>
                        <li><a href="#" th:href="@{/client/complaint}">Submit Complaint</a></li>
                    </ul>
                </li>
                <li><a href="#">Contact</a></li>
            </ul>
        </nav>
        <div id="mobile-menu-wrap"></div>
        <div class="offcanvas__btn">
            <a href="#" th:href="@{/client/dashboard}" class="primary-btn">Place an Order</a>
        </div>
    </div>
    <!-- Offcanvas Menu End -->

    <!-- Header Section Begin -->
    <header class="header">
        <div class="container">
            <div class="row">
                <div class="col-lg-2">
                    <div class="header__logo">
                        D’Hellas
                        <!-- <a href="./index.html">D’Hellas</a> -->
                    </div>
                </div>
                <div class="col-lg-5">
                    <nav class="header__menu">
                        <ul>
                            <li class="active"><a href="#" th:href="@{/}">Home</a></li>
                            <li><a href="#">Pages</a>
                                <ul class="dropdown">
                                    <li><a href="#" th:href="@{/client/about}">About</a></li>
                                    <li><a href="#" th:href="@{/admin/login}">Admin Login</a></li>
                                    <li><a href="#" th:href="@{/client/login}">Client Login</a></li>
                                    <li><a href="#" th:href="@{/client/project}">Projects</a></li>
                                    <li><a href="#" th:href="@{/client/product}">Products</a></li>
                                    <li><a href="#" th:href="@{/client/feedback}">Submit Feedback</a></li>
                                    <li><a href="#" th:href="@{/client/complaint}">Submit Complaint</a></li>
                                </ul>
                            </li>
                            <li><a href="#" th:href="@{/client/contact}">Contact</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="col-lg-5">
                    <div class="header__right">
                        <div class="header__right__search">
                            <i class="fa fa-search search-switch"></i>
                        </div>
                        <div class="header__right__btn">
                            <a href="#" th:href="@{/client/dashboard}" class="primary-btn">Place an Order</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="canvas__open">
                <span class="fa fa-bars"></span>
            </div>
        </div>
    </header>
    <!-- Header Section End -->
</th:block>

</html>