<!DOCTYPE html>
<html lang="zxx" xmlns:th="http://www.thymeleaf.org">

<head th:insert="head :: head">
</head>

<body>

<th:block th:include="body :: body_main"></th:block>

<!-- Courses Section Begin -->
<section class="courses spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 col-md-7 col-sm-7">
                <div class="section-title">
                    <h2>Our Projects</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-6" th:each="project: ${projects}">
                <div class="course__item">
                    <img src="img/courses/course-1.jpg" alt="">
                    <h5 th:text="${project.number}">Winter driving</h5>
                    <h4 th:text="${'$' + project.cost + 'M'}">$ 119</h4>
                    <p th:text="${project.address + ', ' + project.location}">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                        lacus.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Courses Section End -->

<th:block th:include="footer :: footer_main"></th:block>
<th:block th:include="footer :: footer_script"></th:block>
</body>

</html>