<!DOCTYPE html>
<html lang="zxx" xmlns:th="http://www.thymeleaf.org">

<head th:insert="head :: head">
</head>

<body>

<th:block th:include="body :: body_main"></th:block>

    <section class="spad set-bg application-form">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title center-title">
                        <h2>Client Login</h2>
                    </div>
                </div>
            </div>
            <form th:action="@{/client/login}" method="post">
                <div th:if="${param.error}">
                    <div class="alert alert-danger">Invalid username or password.
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-6">
                        <input type="username" placeholder="Your Username" name="username">
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <input type="password" placeholder="Your Password" name="password">
                    </div>
                    <div class="col-lg-12 text-center">
                        <button type="submit" class="site-btn">LOGIN</button>
                        <span> No Account? <a href="/" th:href="@{/client/registration}">REGISTER
                    </div>
                </div>
            </form>
        </div>
    </section>
<!-- Application Form Section End -->

<th:block th:include="footer :: footer_main"></th:block>
<th:block th:include="footer :: footer_script"></th:block>
</body>

</html>