<!DOCTYPE html>
<html lang="zxx" xmlns:th="http://www.thymeleaf.org">

<head th:insert="head :: head">
</head>

<body>

<th:block th:include="body :: body_main"></th:block>

<section class="spad set-bg application-form">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title center-title">
                    <!--                        <span>Giving Best Options For You</span>-->
                    <h2>Client Register</h2>
                </div>
            </div>
        </div>
        <form th:action="@{/client/registration}" th:object="${user}" method="post">
            <div th:if="${param.success}">
                <div class="alert alert-success">Registration Successful. Please Login.
                </div>
            </div>
            <div th:if="${param.error}">
                <div class="alert alert-danger" th:text="${param.error}">An error occured
                </div>
            </div>
            <p class="alert alert-danger" th:if="${#fields.hasGlobalErrors()}" th:each="error : ${#fields.errors('global')}" th:text="${error}">Validation error
            </p>
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-6" th:classappend="${#fields.hasErrors('name')}? 'has-error':''">
                    <input type="name" placeholder="Your Name" name="name" th:field="*{name}">
                    <p class="error-message" th:each="error: ${#fields.errors('name')}" th:text="${error}">Validation error</p>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6" th:classappend="${#fields.hasErrors('email')}? 'has-error':''">
                    <input type="email" placeholder="Your Email" name="email" th:field="*{email}">
                    <p class="error-message" th:each="error: ${#fields.errors('email')}" th:text="${error}">Validation error</p>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6" th:classappend="${#fields.hasErrors('email')}? 'has-error':''">
                    <input type="contactDetails" placeholder="Your Contact Details" name="contactDetails" th:field="*{contactDetails}">
                    <p class="error-message" th:each="error: ${#fields.errors('email')}" th:text="${error}">Validation error</p>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6" th:classappend="${#fields.hasErrors('address')}? 'has-error':''">
                    <input type="address" placeholder="Your Address" name="address" th:field="*{address}">
                    <p class="error-message" th:each="error: ${#fields.errors('address')}" th:text="${error}">Validation error</p>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6" th:classappend="${#fields.hasErrors('companyName')}? 'has-error':''">
                    <input type="companyName" placeholder="Your Company Name" name="companyName" th:field="*{companyName}">
                    <p class="error-message" th:each="error: ${#fields.errors('companyName')}" th:text="${error}">Validation error</p>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6" th:classappend="${#fields.hasErrors('username')}? 'has-error':''">
                    <input type="username" placeholder="Your Username" name="username" th:field="*{username}">
                    <p class="error-message" th:each="error: ${#fields.errors('username')}" th:text="${error}">Validation error</p>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6" th:classappend="${#fields.hasErrors('password')}? 'has-error':''">
                    <input type="password" placeholder="Your Password" name="password" th:field="*{password}">
                    <p class="error-message" th:each="error: ${#fields.errors('password')}" th:text="${error}">Validation error</p>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6" th:classappend="${#fields.hasErrors('confirmPassword')}? 'has-error':''">
                    <input type="password" placeholder="Confirm Password" name="confirmPassword" th:field="*{confirmPassword}">
                    <p class="error-message" th:each="error: ${#fields.errors('confirmPassword')}" th:text="${error}">Validation error</p>
                </div>
                <div class="col-lg-12 text-center">
                    <button type="submit" class="site-btn">REGISTER</button>
                    <span> Already registered? <a href="/" th:href="@{/client/login}">LOGIN
                </div>
            </div>
        </form>
    </div>
</section>
<!-- Application Form Section End -->

<th:block th:include="footer :: footer_main"></th:block>
<th:block th:include="footer :: footer_script"></th:block>
</body>

</html>