<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <meta charset="UTF-8">
    <meta name="description" content="Dreams Template">
    <meta name="keywords" content="Dreams, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>D’Hellas</title>

    <!-- Google Font -->
    <link th:href="@{https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&display=swap}" href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&display=swap" rel="stylesheet">

    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/font-awesome.min.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/nice-select.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/magnific-popup.css}" type="text/css">
    <!-- Css Styles -->
    <link rel="stylesheet" th:href="@{/css/jquery-ui.min.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/owl.carousel.min.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/slicknav.min.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/style.css}" type="text/css">
</head>

<body th:fragment="body">

<!-- Page Preloder -->
<div id="preloder">
    <div class="loader"></div>
</div>

<!-- Offcanvas Menu Begin -->
<div class="offcanvas-menu-overlay"></div>
<div class="offcanvas-menu-wrapper">
    <div class="offcanvas__search">
        <i class="fa fa-search search-switch"></i>
    </div>
    <div class="offcanvas__logo">
        <a href="#" th:href="@{/}">D’Hellas</a>
    </div>
    <nav class="offcanvas__menu mobile-menu">
        <ul>
            <li><a href="#" th:ref="@{/}">Home</a></li>
            <li class="active"><a href="#">Pages</a>
                <ul class="dropdown">
                    <li><a href="#">About</a></li>
                    <li><a href="#" th:href="@{/admin/login}">Admin Login</a></li>
                    <li><a href="#" th:href="@{/client/login}">Client Login</a></li>
                    <li><a href="#" th:href="@{/client/project}">Projects</a></li>
                    <li><a href="#" th:href="@{/client/feedback}">Submit Feedback</a></li>
                    <li><a href="#" th:href="@{/client/complaint}">Submit Complaint</a></li>
                </ul>
            </li>
            <li><a href="#" th:href="@{/client/contact}">Contact</a></li>
        </ul>
    </nav>
    <div id="mobile-menu-wrap"></div>
    <div class="offcanvas__btn">
        <a href="#" class="primary-btn">Place an Order</a>
    </div>
</div>
<!-- Offcanvas Menu End -->

<!-- Header Section Begin -->
<header class="header">
    <div class="container">
        <div class="row">
            <div class="col-lg-2">
                <div class="header__logo">
                    D’Hellas
                    <!-- <a href="./index.html">D’Hellas</a> -->
                </div>
            </div>
            <div class="col-lg-5">
                <nav class="header__menu">
                    <ul>
                        <li class="active"><a href="#" th:href="@{/}">Home</a></li>
                        <li><a href="#">Pages</a>
                            <ul class="dropdown">
                                <li><a href="#">About</a></li>
                                <li><a href="#" th:href="@{/admin/login}">Admin Login</a></li>
                                <li><a href="#" th:href="@{/client/login}">Client Login</a></li>
                                <li><a href="#">Projects</a></li>
                                <li><a href="#">Submit Feedback</a></li>
                                <li><a href="#">Submit Complaint</a></li>
                            </ul>
                        </li>
                        <li><a href="#">Contact</a></li>
                    </ul>
                </nav>
            </div>
            <div class="col-lg-5">
                <div class="header__right">
                    <div class="header__right__search">
                        <i class="fa fa-search search-switch"></i>
                    </div>
                    <div class="header__right__btn">
                        <a href="#" class="primary-btn">Place an Order</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="canvas__open">
            <span class="fa fa-bars"></span>
        </div>
    </div>
</header>
<!-- Header Section End -->

</body>
</html>